.super-mario {
    width: 200px;
    position: absolute;
    z-index: 5;

  }
  
  .goomba {
      position: absolute;
      top:400px;
      left: 50px;
    width: 100px;
  }
  
  .baloon {
      position: absolute;
      top: 10px;
      right: 250px;
  
  }
  
  .speach {
      position: absolute;
      top: 50px;
      right: 285px;
      z-index: 3;
    font-size: 25px;
  }
  
  .bowser {
    position: absolute;
    right: 10px;
    width: 200px;
  }