body {
    font-size: 16px;
}

h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: orangered;
}

ul {
    background-color: orchid;
}

.bg-color {
    background-color: rgb(6, 189, 67);
}

p {
    font-weight: 600;
    font-size: 3em;
}

#yellow {
    text-decoration: underline;
    line-height: 5rem;
    text-align: start;

    background-color: yellow;
}

#red {
    text-decoration: line-through;
    line-height: 100px;
    text-align: end;

    background-color: red;
}

#brown {
    text-align: center;
    text-decoration: dashed;
    text-transform: uppercase;
    line-height: 50vh;

    background-color: rgb(88, 44, 3);
}